/**
* IMPORTANT!
* Get a woff file generator at https://www.fontsquirrel.com/tools/webfont-generator
* Rename the file as what the class name should be. e.g. gothic-italic-300.woff will create a css class named "gothic-italic-300"
*/

//e.g.
/*
fontName:(
  normal/italic: (100,...,900),
),
open_sans:(
  normal:(300,400,500,600),
  italic: (700),
),
gothic:(
  normal:(300,400,500,600)
)
*/
$custom-fonts:();

//e.g. "assets/font/"
$font-folder-path:"";

/**
* Create @font-face and css classes named .font-fontStyle-fontWeight
*/
@each $family,
$properties in $custom-fonts {

    @each $style,
    $weights in $properties {

        @each $weight in $weights {
            @font-face {
                font-family: $family;
                src: url("#{$font-folder-path}#{$family}-#{$style}-#{$weight}.woff2") format('woff2'),
                url("#{$font-folder-path}#{$family}-#{$style}-#{$weight}.woff") format('woff');
                font-style: $style;
                font-weight: $weight;
            }

            .#{$family}-#{$style}-#{$weight} {
                font-family: $family !important;
                font-style: $style !important;
                font-weight: $weight !important;
            }
        }
    }
}
